.mainDiv{
	position: relative;
	width: 100vw;
	height: 100vh;
}
.layout  {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#071C39, black);
}

.starsBg{
	position: fixed;
	z-index: 0;
}

.personnalInfo{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 50%;
	align-items: center;
	justify-content: center;
	transition: translate 1s;
	transition-delay: 0.7s;
}

.hiddenLeft{
	translate: -1000px;
	transition: translate 0.5s;
	transition-delay: 1s;
}

.hiddenRight{
	translate: 5000px;
	transition: translate 1s;
}

.personnalInfo h1 {
	font-size: 120px;
	color: white;
	margin: 0;
}

.metier{
	font-size: 40px;
}

.sepRedInfo{
	width: 70px;
	height: 4px;
	background-color: cyan;
	border-radius: 5px;
	margin: 10px;
}

.scrollDowwn {
	color: white;
	writing-mode: vertical-rl;
	text-orientation: upright;
	position: relative;
	bottom: 260px;
	left: 32px;
}

.myPicParallax {
	display: flex;
	align-items: center;
	width: 50%;
}
.moi {
	display: flex;
	width: 100%;
	z-index: 10;
}

.l2 {
	position: absolute;
	z-index: 11;
	top: 70%;
	right: 0%;
	background-color: rgba(12, 12, 12, 0.2);
}

.l3 {
	position: absolute;
	min-width: 30%;
	height: 20px;
	z-index: 10;
	top: 30%;
	background-color: darkgoldenrod;
}

.l4 {
	position: absolute;
	min-width: 35%;
	height: 20px;
	z-index: 3;
	background-color: rgba(255, 255, 128, .2);
}

