.mainDiv{
	width: 100vw;
	height: 100vh;
}
.layout  {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;

}

.starsBg{
	position: fixed;
	z-index: 0;
	height: 100vh;
}

.personnalInfo{
	display: flex;
	flex-direction: column;
	position: relative;
	width: 50%;
	align-items: center;
	justify-content: center;
	transition: translate 1s;
	transition-delay: 0.7s;
}

.hiddenLeft{
	translate: -1000px;
	transition: translate 0.5s;
	transition-delay: 1s;
}

.hiddenRight{
	translate: 5000px;
	transition: translate 1s;
}

.personnalInfo h1 {
	font-size: 10vh;
	color: white;
	margin: 0;
}

.metier{
	font-size: 2.7vh;
}

.sepRedInfo{
	width: 70px;
	min-height: 4px;
	background-color: cyan;
	border-radius: 5px;
	margin: 10px;
}

.scrollDowwn {
	color: white;
	writing-mode: vertical-rl;
	text-orientation: upright;
	position: relative;
	bottom: calc(2vh*16); /*le fontsize x le nomvre de lettre*/
	left: 32px;
	font-size: 2vh;
}

.myPicParallax {
	display: flex;
	position: relative;
	align-items: center;
	width: 50%;
}

.myPicParallax > * {  
	position: absolute;  
}

.moi {
	display: flex;
	width: 100%;
	z-index: 10;
}

.l2 {
	z-index: 11;
	top: 70%;
	left: 20%;
	background-color: rgba(12, 12, 12, 0.2);
	font-size: 3vh;
}

.l3 {
	position: absolute;
	min-width: 30%;
	height: 20px;
	z-index: 10;
	top: 30%;
	background-color: darkgoldenrod;
}

.l4 {
	position: absolute;
	min-width: 35%;
	height: 20px;
	z-index: 3;
	background-color: rgba(255, 255, 128, .2);
}


@media (max-width:960px) { 
	.layout  {
		flex-direction: column-reverse;
	}
	.myPicParallax{
		width: 100%;
		height: 50%;
	}
	.personnalInfo{
		width: 100%;
		height: 50%;
	}

	.l2 {
		top: 90%;
	}

	.scrollDowwn {
		left: 5px;
	}
} 
