body {
	overflow: hidden;
	font-family: "code";
	color: white;
	height: 100%;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	
}

.page0 {
	transform: translate3d(0px, 0px, 0px);
	transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.page1 {
	transform: translate3d(0px, -100vh, 0px);
	transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

@font-face {
	font-family: "code";
	src: url("./assets/font/Gontserrat-Light.ttf");
 }
 